<app-toolbar [title]="title" [loading]="loadingList.user"></app-toolbar>
<button *ngIf="!isProfile" routerLink="/user-list" class="btn btn-secondary btn-sm mb-3">{{'GO TO LIST' | translate}}</button>
<div *ngIf="loggedinUser && user" class="container-fluid">
  <div class="row mb-5">
    <form class="col-12 p-0" #f="ngForm" id="f" (ngSubmit)="submit(f.value, f.valid)">
      <div class="card col-xs-12 col-sm-12 p-0">
        <ng-container *ngIf="loggedinUser.userRole === userRole.ADMIN">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6 mb-3">
                <label class="col-sm-12 p-0 col-form-label">{{'Profile image' | translate}}</label>
                <div class="col-sm-12 p-0">
                  <media-input [(url)]="user.profileImg" [allowedTypes]="imageAllowedTypes"></media-input>
                </div>
              </div>
              <div class="col-sm-12"></div>
              <div *ngIf="!isNew" class="col-sm-6 mb-3">
                <label [for]="idInput" class="form-label-group">ID:</label>
                <input #idInput readonly name="idInput" class="form-control m-0" [value]="user.id || '--'">
              </div>
              <div *ngIf="!isNew" class="col-sm-6 mb-3">
                <label [for]="registeredAt" class="form-label-group">{{'Registered At' | translate}}:</label>
                <input #registeredAt name="registeredAt" class="form-control m-0" [value]="user.registeredAt?.toLocaleString()" readonly>
              </div>
              <div class="col-sm-6 mb-3">
                <label [for]="userRoleInput" class="form-label-group">{{'Role' | translate}}
                  <small>({{'required' | translate}})</small>
                </label>
                <select #userRoleInput="ngModel" class="form-control" [(ngModel)]="user.userRole" name="userRole" [disabled]="loadingList.user || loggedinUser.id === user.id" required>
                  <option [ngValue]="null"></option>
                  <option *ngFor="let el of userRoles" [ngValue]="el">{{el | translate}}</option>
                </select>
                <small [hidden]="loggedinUser.id === user.id || loadingList.user || userRoleInput.valid || (userRoleInput.pristine && !f.submitted)" class="text-danger">
                  {{'Insert user role' | translate}}
                </small>
              </div>
              <div class="col-sm-6 mb-3">
                <label [for]="firstName" class="form-label-group">{{'First Name' | translate}}
                  <small>({{'required' | translate}})</small>
                </label>
                <input #firstName="ngModel" type="text" name="firstName" class="form-control" [(ngModel)]="user.firstName" [placeholder]="'First Name'" [disabled]="loadingList.user" required/>
                <small [hidden]="loadingList.user || firstName.valid || (firstName.pristine && !f.submitted)" class="text-danger">
                  {{'Insert First Name' | translate}}
                </small>
              </div>
              <div class="col-sm-6 mb-3">
                <label [for]="lastName" class="form-label-group">{{'Last Name' | translate}}
                  <small>({{'required' | translate}})</small>
                </label>
                <input #lastName="ngModel" type="text" name="lastName" class="form-control" [(ngModel)]="user.lastName" [placeholder]="'Last Name'" [disabled]="loadingList.user" required/>
                <small [hidden]="loadingList.user || lastName.valid || (lastName.pristine && !f.submitted)" class="text-danger">
                  {{'Insert Last Name' | translate}}
                </small>
              </div>
              <div class="col-sm-12 col-md-6 mb-3">
                <div class="full-width padding0">
                  <label [for]="isMale" class="control-label">{{'Gender' | translate}}</label>
                  <select #isMale class="form-control" [(ngModel)]="user.isMale" name="isMale" [disabled]="loadingList.user">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="true">{{'Male' | translate}}</option>
                    <option [ngValue]="false">{{'Female' | translate}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 mb-3">
                <label [for]="telephone" class="form-label-group">{{'Telephone' | translate}}</label>
                <input #telephone="ngModel" type="text" name="telephone" class="form-control" [(ngModel)]="user.telephone" [placeholder]="'Telephone'" [disabled]="loadingList.user"/>
                <small [hidden]="loadingList.user || telephone.valid || (telephone.pristine && !f.submitted)" class="text-danger">
                  {{'Insert Telephone' | translate}}
                </small>
              </div>
              <div class="col-sm-12 col-md-6 mb-3">
                <div class="full-width padding0">
                  <label [for]="dateOfBirthInput" class="control-label">{{'Date of birth' | translate}}</label>
                  <input #dateOfBirthInput type="date" name="dateOfBirthInput" class="form-control" [(ngModel)]="dateOfBirth"/>
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <label class="form-label-group">{{'Description' | translate}}:</label>
                <textarea name="description" class="form-control" rows="6" [(ngModel)]="user.description"></textarea>
              </div>
              <div class="col-sm-6 mb-3">
                <label [for]="email" class="form-label-group">{{'Email' | translate}}
                  <small>({{'required' | translate}})</small>
                </label>
                <input #email="ngModel" type="email" name="email" class="form-control" [(ngModel)]="user.email" placeholder="{{'Email' | translate}}" pattern="{{globals.getEmailRegex()}}" required [readonly]="!isNew || loadingList.user"/>
                <small [hidden]="loadingList.user || (email.valid || (email.pristine && !f.submitted))" class="text-danger">
                  {{'Insert valid email' | translate}} <i>(john@doe.com)</i>
                </small>
              </div>
              <div *ngIf="isNew" class="col-sm-6 mb-3">
                <label [for]="password" class="form-label-group">{{'Password' | translate}}
                  <small>({{'required' | translate}})</small>
                </label>
                <input #password="ngModel" type="password" name="password" class="form-control" [(ngModel)]="user.password" placeholder="{{'Password' | translate}}" [disabled]="loadingList.user" required/>
                <small [hidden]="loadingList.user || password.valid || (password.pristine && !f.submitted)" class="text-danger">
                  {{'Insert password' | translate}}
                </small>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <input type="submit" class="btn btn-primary float-right" value="{{(isNew ? 'Confirm' : 'Update') | translate}}" [disabled]="loadingList.user"/>
            <input *ngIf="!isNew && !isProfile" type="button" (click)="deleteUser()" class="btn btn-danger float-left" value="{{'Delete' | translate}}" [disabled]="loadingList.user"/>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
</div>
