@import "../../../assets/sass/main.scss";
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  &-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 70px; /* Height of navbar */
    height: calc(100vh - 70px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  &-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  .nav-link {
    font-weight: 500;
    color: #333;
    &.active {
      color: #007bff;
      .feather {
        color: inherit;
      }
    }
    &:hover {
      .feather {
        color: inherit;
      }
    }
    .feather {
      margin-right: 4px;
      color: #999;
      width: 16px;
      height: 16px;
      vertical-align: text-bottom;
    }
  }
}
