<app-toolbar [title]="title"></app-toolbar>
<div class="text-center">
  <h1>
    {{'Welcome to' | translate}} {{environment.APP_NAME}}!
  </h1>
  <img class="img-fluid" width="300" src="../../../../assets/img/winkular-logo.png">
</div>
